[Desktop Entry]
NoDisplay=true
Version=1.0
Encoding=UTF-8
Type=X-XFCE-Helper
X-XFCE-Category=TerminalEmulator
X-XFCE-Commands=/usr/bin/kitty
X-XFCE-CommandsWithParameter=/usr/bin/kitty --hold sh -c "%s"
Icon=kitty
Name=kitty
